.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;

  // ---- Цвет заголовков ----
  --primary-color: #032a98;
  --inverted-primary-color: #049604;

  // ---- Цвет текста ----
  --secondary-color: #0552ff;
  --inverted-secondary-color: #04ff04;
}